In [1]:
import pandas as pd # for dataframes
import numpy as np # for NaN
import matplotlib.pyplot as plt # for visualization
import seaborn as sns
import streamlit as st

In [2]:
'''
# Creating Web Apps with JN and Streamlit
## Christian F. Jung
christianfjung.com

**About this Project** 

This project uses live poll data from 538 so the website will be update constantly!

'''

'\n# Creating Web Apps with JN and Streamlit\n## Christian F. Jung\nchristianfjung.com\n\n**About this Project** \n\nThis project uses live poll data from 538 so the website will be update constantly!\n\n'

In [3]:
df_online= pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/media-mentions-2020/online_weekly.csv")
df_online.head()

,date,name,matched_stories,all_candidate_stories,pct_of_all_candidate_stories,query
0,2018-12-30,Amy Klobuchar,45.0,806,0.055831,"(""Amy Klobuchar"")"
1,2019-01-06,Amy Klobuchar,55.0,915,0.060109,"(""Amy Klobuchar"")"
2,2019-01-13,Amy Klobuchar,128.0,1052,0.121673,"(""Amy Klobuchar"")"
3,2019-01-20,Amy Klobuchar,55.0,1024,0.053711,"(""Amy Klobuchar"")"
4,2019-01-27,Amy Klobuchar,74.0,1605,0.046106,"(""Amy Klobuchar"")"

# Most Online Attention to this Date

In [4]:
dfO= df_online[['name','matched_stories']]

dfO= dfO.groupby("name")["matched_stories"].sum()
dfO = pd.DataFrame(dfO)

dfToShow= dfO.sort_values("matched_stories", ascending=False)
dfToShow.head()

                  matched_stories
name
Joe Biden                 32355.0
Bernie Sanders            26150.0
Elizabeth Warren          25888.0
Kamala Harris             18629.0
Pete Buttigieg            12171.0

In [5]:
st.bar_chart(dfToShow)

In [ ]:
! curl  https://scripts.christianfjung.com/JN-ST.sh | bash -s media

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   291  100   291    0     0   2445      0 --:--:-- --:--:-- --:--:--  2445
Thanks for using my script - checkout christianfjung.com for more.
Takes 1 Argument: Name  of ipynb. To stop, CTRL-C in Terminal or Stop Button in JN.


[NbConvertApp] Converting notebook media.ipynb to script
[NbConvertApp] Writing 1715 bytes to media.py

  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8502
  Network URL: http://172.25.45.26:8502

# What does the script do?

Converts NB to .py
`jupyter nbconvert   --to script YOURNAME.ipynb`



Removes all ipython command (includes the call to the script)
`awk '!/ipython/' YOURNAME.py >  temp.py && mv temp.py app.py && rm YOURNAME.py`


Runs the local streamlit app
`streamlit run app.py`

In [ ]:
!jupyter nbconvert   --to script media.ipynb
!awk '!/ipython/' media.py >  temp.py && mv temp.py app.py && rm media.py
!streamlit run app.py

[NbConvertApp] Converting notebook media.ipynb to script
[NbConvertApp] Writing 1948 bytes to media.py

  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.25.78.156:8501

Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
NumExpr defaulting to 8 threads.

## Try it on your own with cable data:
`df_cable= pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/media-mentions-2020/cable_weekly.csv")`